.gridButton {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}

.gridButton:not(:disabled) {
  cursor: pointer;
}

.gridButton:disabled {
  cursor: default;
}
