.section {
  height: 100%;
}

.body {
  display: grid;
  gap: var(--space-4);
}

.header {
  display: grid;
  gap: var(--space-3);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-header-text);
}

.description {
  font-size: var(--font-size-base);
  color: var(--color-text);
  text-align: left;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3) var(--space-5);
}