.link {
  outline: none;
}

.stylePlain,
.stylePlain:hover {
  color: inherit;
  text-decoration: none;
}

.displayBlock {
  display: block;
}

.link:focus-visible {
  outline: var(--space-0-5) solid transparent;
  outline-offset: var(--space-0-5);
}
