.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-modal);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  min-width: 25rem;
}

.row > * {
  flex: 1;
}
