.editorLayout {
  flex-direction: row;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.gridsColumn {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.gridSection {
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
}
