.teamsSection {
  flex: 3;
  overflow: hidden;
}

.auctionInfoSection {
  flex: 2;
}

.queueSection {
  flex: 3;
  overflow: hidden;
}

.auctionInfoTopSection {
  flex: 1;
}

.auctionInfoGridSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auctionInfoBottomSection input {
  flex: 1;
}

.auctionInfoBottomSection button {
  flex-shrink: 0;
  min-width: 7.5rem;
}

@media (max-width: 1024px) {
  .auctionInfoGridSection {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .auctionInfoBottomSection {
    flex-direction: column;
  }

  .auctionInfoBottomSection button {
    width: 100%;
  }
}
