.memberCard {
  width: 7rem;
  height: 9rem;
}

.badgesLeft {
  position: absolute;
  top: var(--space-xs);
  left: var(--space-xs);
}

.badgesRight {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}

.statusDot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: var(--radius-full);
  border: 1px solid var(--color-card-blue-border);
}

.statusDotOnline {
  background-color: var(--color-card-green-text);
}

.statusDotOffline {
  background-color: var(--color-button-danger-bg);
}

.statusDotClient {
  background-color: var(--color-button-primary-bg);
}
