.card {
  flex-shrink: 0;
  width: 100%;
  padding: var(--padding-xs) var(--padding-sm) !important;
}

.name {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-sm);
}
