.bar {
  width: 100%;
  border-radius: var(--radius-xs);
}

.sizeSmall {
  height: var(--border-width-thin);
}

.sizeMedium {
  height: var(--border-width-medium);
}

.sizeLarge {
  height: var(--border-width-thick);
}

.colorBlue {
  background: var(--color-bar-blue);
}

.colorGreen {
  background: var(--color-bar-green);
}

.colorGold {
  background: var(--color-bar-gold);
}
