.link {
  outline: none;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
}

.contentText {
  color: var(--color-text-accent);
  font-weight: var(--font-weight-medium);
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.08em;
}

.contentText:visited {
  color: var(--color-text-accent);
}

.contentText:hover {
  color: var(--color-text-accent-hover);
  text-decoration-thickness: 0.11em;
}

.contentText:active {
  text-decoration-thickness: 0.13em;
}
