.panelSection {
  flex: none;
  width: 16rem;
  min-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.presetDetailSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.tierSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.positionSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.memberGridSection {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
