DISCORD_BOT_TOKEN=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

APP_ORIGIN=http://localhost:5173
API_ORIGIN=http://localhost:8000

JWT_SECRET=
JWT_ALGORITHM=HS256

DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=trader

LOG_LEVEL=INFO
LOG_FORMAT=text