BOT_TOKEN=
BOT_ORIGIN=http://localhost:8001

ADMIN_PASSWORD=

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256

APP_ORIGIN=http://localhost:5173

DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=trader

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-northeast-2
AWS_BUCKET_NAME=trader-dev-bucket

LOG_LEVEL=INFO
LOG_FORMAT=text