.panelSection {
  flex: 1;
  min-width: 20%;
  min-height: 0;
}

.presetDetailSection {
  flex: 4;
  min-width: 0;
  min-height: 0;
}

.tierSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
  align-self: stretch;
}

.positionSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
  align-self: stretch;
}

.memberGridSection {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
