.bar {
  width: 100%;
  height: var(--border-width-thin);
  border-radius: var(--radius-xs);
}

.thicknessThin {
  height: var(--border-width-thin);
}

.thicknessMedium {
  height: var(--border-width-medium);
}

.thicknessThick {
  height: var(--border-width-thick);
}

.colorBlue {
  background: var(--color-primary-border);
}

.colorPurple {
  background: var(--color-secondary-border);
}

.colorRed {
  background: var(--color-red-border);
}

.colorGreen {
  background: var(--color-green-bg);
}
