.input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--radius-input);
  transition: var(--transition-all);
  outline: none;
  font-family: var(--font-sans);
  border: var(--border-width-default) solid var(--color-base-border);
  background-color: var(--color-base-bg-light);
  color: var(--color-base-text-dark);
  backdrop-filter: blur(var(--blur-md));
}

.input:focus {
  outline: var(--border-width-medium) solid transparent;
  outline-offset: var(--border-width-medium);
  border-color: var(--color-primary-text);
  box-shadow: 0 0 0 0.1875rem var(--color-primary-bg-light);
  background-color: var(--color-base-bg);
}

.input:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.input::placeholder {
  color: var(--color-base-text-light);
}

.intentDefault {
  border-color: var(--color-base-border);
}

.intentDefault:focus {
  border-color: var(--color-primary-text);
  box-shadow: 0 0 0 0.1875rem var(--color-primary-bg-light);
}

.intentError {
  border-color: var(--color-red-text);
  background-color: var(--color-red-bg);
}

.intentError::placeholder {
  color: rgba(239, 83, 80, 0.5);
}

.intentError:focus {
  border-color: var(--color-red-text);
  box-shadow: 0 0 0 0.1875rem var(--color-red-bg);
}

.toneSolid {
  background-color: var(--color-base-bg-light);
}

.toneOutline {
  background-color: transparent;
}

.toneGhost {
  background-color: transparent;
  border: 0;
  border-bottom: var(--border-width-default) solid var(--color-base-border);
  border-radius: 0;
}

.toneGhost:focus {
  box-shadow: none;
  border-bottom-color: var(--color-primary-text);
}

.sizeSmall {
  font-size: var(--font-size-xs);
  padding: var(--padding-sm) var(--padding-md);
}

.sizeMedium {
  font-size: var(--font-size-sm);
  padding: var(--padding-md);
}

.sizeLarge {
  font-size: var(--font-size-base);
  padding: var(--padding-lg) var(--padding-xl);
}
