.memberCard {
  width: 7rem;
  height: 9rem;
}

.positions {
  min-height: 1.375rem;
}

.name {
  width: 5rem;
}

.topRight {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}
