.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-modal);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg);
}

.content {
  min-width: 25rem;
  overflow-y: auto;
}

.row > * {
  flex: 1;
}

.footer {
  justify-content: flex-end !important;
}

.errorContainer {
  margin-top: var(--gap-md);
}
