.grid {
  display: grid;
  gap: var(--gap-md);
  overflow-y: auto;
  height: 100%;
  justify-content: start;
  align-content: start;
  grid-template-columns: repeat(auto-fill, 7rem);
  grid-auto-rows: 9rem;
}

.gridItem {
  cursor: pointer;
  transition: all 0.2s ease;
  width: fit-content;
}
