.memberCard {
  width: 7rem;
  height: 9rem;
}

.topLeft {
  position: absolute;
  top: var(--space-xs);
  left: var(--space-xs);
}

.topRight {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}

.statusDot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: var(--radius-full);
}

.statusDotOnline {
  background-color: var(--color-status-online);
}

.statusDotOffline {
  background-color: var(--color-status-offline);
}

.statusDotClient {
  background-color: var(--color-status-client);
}
